<section id="hero">
  <div id="heroCarousel" data-bs-interval="5000" class="carousel slide carousel-fade" data-bs-ride="carousel">

    <ol class="carousel-indicators" id="hero-carousel-indicators"></ol>

    <div class="carousel-inner" role="listbox">

      <!-- Slide 1 -->
      <% if @properties2 %>
      <% @properties2.each_with_index do |property, index| %>
        <%if index==0%>
        <div class="carousel-item active" id="item<%=index+1%>" style="background-image:url('<%=property.image%>')">
          <%else%>
          <div class="carousel-item" id="item<%=index+1%>" style="background-image:url('<%=property.image%>')">
        <%end%>
          <div class="carousel-container">
            <div class="container w-50">
              <h2 class="animated fadeInDown">¿Interesado en una propiedad?</h2>
              <p class="animated fadeInUp">Mira sus reseñas</p>
              <%= form_with(url: root_path, method: :get, data: {turbo_frame: "porperties"}) do |form| %>
                <%= form.label :query, "Search:", class: "block mb-2 d-flex" %>
                <div class="d-flex space-x-3 ">
                  <%= form.text_field :query, class: "rounded border ring-0 focus:ring-4 focus:ring-orange-100 focus:shadow-none focus:border-orange-500 focus:outline-none form-control" %>

                  <%= form.submit 'Search', class: "btn btn-blue" %>
                </div>
              <% end %>
            </div>
          </div>
        </div>
      <% end %>
      <% end %>

    </div>

    <a class="carousel-control-prev" href="#heroCarousel" role="button" data-bs-slide="prev">
      <i class="bi bi-chevron-left"></i>
    </a>
    <a class="carousel-control-next" href="#heroCarousel" role="button" data-bs-slide="next">
      <i class="bi bi-chevron-right"></i>
    </a>

  </div>
</section><!-- End Hero -->
<section id="home" class="container-fluid">
  <div class="row">
    <div class="col-10 mx-auto py-5">
      <h1 class="text-center">Propiedades</h1>
      <%if current_user%>
      <h4>Hola <%= current_user.username%></h4>
      <%= link_to "Agregar propiedad", properties_index_path, class: "btn btn-blue my-2" %>
      <%end%>
      <div class="container-fluid">
        <%= turbo_frame_tag "properties" do %>
        <div class="row">
          <% if @properties %>    
          <%@properties.each do |property|%>
          <div class="col-12 col-sm-6 col-md-4 col-xl-3">
            <div class="card">
              <img src="<%= property.image %>" class="card-img-top" alt="">
              <div class="card-body">
                <p class="card-text"><p><%= property.description %></p>
                <p class="card-text"><p><%= property.address %></p>

                <% property.rating.to_i.times do |t| %>
                  <span class="fa fa-star"></span>
                <% end %>
                <p class="card-text">Tú calificación: <%= property.rating %></p>
                <p class="card-text"><span class="bi bi-shield-shaded"></span> Seguridad: <%= property.security %></p>
                <p class="card-text"><span class="bi bi-ear"></span> Ruido: <%= property.noise %></p>
                <p class="card-text"><span class="bi bi-house-heart"></span> Limpieza: <%= property.cleaning %></p>
                <p>Dueño: <%= link_to Owner.find(property.owner_id).name, owner_show_path(property.owner_id) %></p>
                <p>Calificación del dueño: <%=((Owner.find(property.owner_id).atention + Owner.find(property.owner_id).respuesta + Owner.find(property.owner_id).amabilidad)/3).round(2)%></p>
                <%= link_to property_show_path(property.id) do %>
                <div class="btn btn-secondary">
                  <i class="bi bi-eye"></i> Ver propiedad
                </div>
                <% end %>
              </div>
            </div>
          </div>
          <% end %>
          <% end %>
          
        </div>
        <% end %>
      </div>
    </div>
  </div>
</section>
