<section id="sign_up" class="container-fluid">
  <div class="row">
    <div class="col-12 col-sm-5 mx-auto text-center py-5 text-white d-none d-sm-block ">
        <h3 class="display-5">TBD</h3>

          <p>Busca propiedades</p>
          <p> Ve las reseñas</p>
          <p> Califica propiedades</p>
    </div>
    <!-- Crear roles de arrendatario, arrendador y admin para poder aceptar las reseñas -->
    <!-- Que el nombre de usuario sea generado automaticamente -->
    <div class="col-12 col-sm-7 d-flex justify-content-center ">
      <div class="card form-custom mt-5">
        <div class="card-body text-center">
          <div class="card-tittle"><h2 >Crea tu cuenta</h2></div>
          <%= form_for(resource, as: resource_name, url: registration_path(resource_name), class: "bg-light py-5") do |f| %>
          <%= render "devise/shared/error_messages", resource: resource %>
          <div class="field">
          <%= f.label :Nombre, class: "form-label" %><br />
          <%= f.text_field :name, autofocus: true, autocomplete: "name", class:"form-control form-control form-input w-100" %>
        </div>
          <div class="field mt-3">
          <%= f.label :Apellido, class: "form-label" %><br />
          <%= f.text_field :last_name, autofocus: true, autocomplete: "Last name", class:"form-control" %>
          </div>
          <div class="field mt-3">
          <%= f.label :Nombre_de_usuario, class: "form-label" %><br />
          <%= f.text_field :username, autofocus: true, autocomplete: "username", class:"form-control" %>
          </div>
          <div class="field mt-3">
            <%= f.label :Correo, class: "form-label" %><br />
            <%= f.email_field :email, autofocus: true, autocomplete: "email", class:"form-control" %>
          </div>
        
          <div class="field mt-3">
            <%= f.label :Contraseña, class: "form-label" %>
            <% if @minimum_password_length %>
            <em>(<%= @minimum_password_length %> caracteres como mínimo)</em>
            <% end %><br />
            <%= f.password_field :password, autocomplete: "new-password", class:"form-control" %>
          </div>
        
          <div class="field mt-3">
            <%= f.label :Confirmación_de_contraseña, class: "form-label" %><br />
            <%= f.password_field :password_confirmation, autocomplete: "new-password", class:"form-control" %>
          </div>
        
          <div class="actions mt-3">
            <%= f.submit "Registrarse", class:"btn btn-purple" %>
          </div>
        <% end %>
        </div>
      </div>
    </div>
  </div>
</section>
