<div class="container">
    <div class="row">
        <div class="col-10 mx-auto">
            <div class="rounded shadow radius p-2 m-1">
                <ul>
                    <li><p>Nombre: <%= @owner.name%></p></li>
                    <li>Atención: <p><%= @owner.atention%></p></li>
                    <li>Respuesta:<p><%= @owner.respuesta%></p></li>
                    <li>Amabilidad:<p><%= @owner.amabilidad%></p></li>
                    <li>Calificación: <p><%= @owner_calif%></p></li>
                </ul>
            </div>
        </div>
    </div>
</div>
