<section id="property-show" class="container-fluid" style="background-image: url('<%= @property.image %>');">
	<div class="row h-100 align-items-center">
		<div class="col-10 col-sm-9 col-md-8 col-lg-7 col-xl-6 text-center text-white mx-auto">
			<h1 class="text-center text-uppercase"> <%= @property.name %> </h1>
			<h3> <%= @property.description %> </h3>
			<p> <%= @property.rating %> </p>
		</div>
	</div>
</section>
<section id="property-show-comments" class="container-fluid my-3">
	<div class="row">
		<div class="col-10 mx-auto">
			<%= link_to "Regresar a las propiedades", properties_index_path, class: "btn btn-primary" %>
			<h5>Dueño: <%= link_to Owner.find(@property.owner_id).name, owner_show_path(@property.owner_id) %></h5>
			<h3 class="text-center">
				Lista de comentarios
			</h3>
			<%unless @property.comments.nil?%>
				<% @property.comments.each do |comment|%>
					<div class="rounded shadow radius p-2 m-1">
						<h4><%= User.find(comment.user_id).username %></h4>
						<p><%=comment.content%></p>
						<%comment.rating.times do |t|%>
							<i class="bi bi-star-fill yellow-300"></i>
						<%end%>
						<%if comment.user_id == current_user.id%>
							<%= button_to 'Borrar comentario', comment_destroy_path(comment.id), form: { data: { turbo_confirm: "Estas seguro?" } }, method: :delete, class: "btn btn-danger my-1" %>
						<%end%>
					</div>
				<%end%>
			<%end%>

			<div class="rounded shadow radius p-2">
				<%=form_for :comment, url:comment_create_path do |f| %>
					<div class="form-group">
						<%= f.text_field :content, placeholder: "Agrega tu comentario", class: "form-control my-2" %>
				    </div>
				  	<div class="form-group my-3">
						  <%=f.label "Calificación"%>
						<%= f.select :rating, (1..5).to_a , class: "form-control" %>
			  		</div>
					  <div class="form-group d-none">
						<%= f.text_field :property_id , class: "form-control" , value:@property.id%>
			  		  </div>
					  <div class="form-group">
						<%= f.submit "Comentar", class:"btn btn-primary"%>
			  		</div>
				<%end%>
			</div>
		</div>
	</div>
</section>