<section id="property-show" class="container-fluid" style="background-image: url('<%= @property.image %>');">
	<div class="row h-100 align-items-center">
		<div class="col-10 col-sm-9 col-md-8 col-lg-7 col-xl-6 text-center text-white mx-auto">
			<h3> <%= @property.description %> </h3>
			<p> <%= @property.rating %> </p>
		</div>
	</div>
</section>
<section id="property-show-comments" class="container-fluid my-3">
	<!-- Poner el promedio de las calificaciones de rating, security, noise y cleaning y quitar el nombre del due침o -->
	<div class="row">
		<div class="col-10 mx-auto">
			<%= link_to "Regresar a las propiedades", properties_index_path, class: "btn btn-primary" %>
			<h5>Due침o: <%= link_to Owner.find(@property.owner_id).name, owner_show_path(@property.owner_id) %></h5>
			<!-- Agregar el resumen de la propiedad, ruido, seguridad, limpieza -->
			<!-- Poder contactar al que hizo la rese침a por mail para dudas -->
			<div class="container-fluid">
				<div class="row">
					<% @evidences.each do |e|%>
					<div class="col-4">
						<img src="<%=e%>" alt="" class="img-fluid"">
					</div>
					<%end%>
				</div>
			</div>
			<h3 class="text-center">
				Lista de comentarios
			</h3>
			<%unless @property.comments.nil?%>
				<% @property.comments.each do |comment|%>
					<div class="rounded shadow radius p-2 m-1">
						<h4><%= User.find(comment.user_id).username %></h4>
						<p><%=comment.content%></p>
						<%comment.rating.times do |t|%>
							<i class="bi bi-star-fill yellow-300"></i>
						<%end%>
						<div class="container">
							<div class="row">
								<%comment.evidence.split(",").each do |img|%>
									<div class="col-3">
										<img src="<%=img%>" alt="" class="img-fluid">
									</div>
								<%end%>
							</div>
						</div>
						<%if comment.user_id == current_user.id%>
							<%= button_to 'Borrar comentario', comment_destroy_path(comment.id), form: { data: { turbo_confirm: "Estas seguro?" } }, method: :delete, class: "btn btn-danger my-1" %>
						<%end%>
					</div>
				<%end%>
			<%end%>

			<div class="rounded shadow radius p-2">
				<%=form_for :comment, url:comment_create_path do |f| %>
					<div class="form-group">
						<%= f.text_field :content, placeholder: "Agrega tu comentario", class: "form-control my-2" %>
				    </div>
				  	<div class="form-group my-3">
						  <%=f.label "Calificaci칩n"%>
						<%= f.select :rating, (1..5).to_a , class: "form-control" %>
			  		</div>
					<div class="form-group">
						<%=f.label "Evidencias(Separa cada link por una coma)"%>
						<%= f.text_field :evidence , class: "form-control"%>
			  		</div>
					<div class="form-group d-none">
						<%= f.text_field :property_id , class: "form-control" , value:@property.id%>
			  		</div>
					<div class="form-group mt-3">
						<%= f.submit "Comentar", class:"btn btn-primary"%>
			  		</div>
				<%end%>
			</div>
		</div>
	</div>
</section>