<!DOCTYPE html>
<html>
<head>
  <title>House</title>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
  <!-- JavaScript Bundle with Popper -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css">

  <%= javascript_importmap_tags %>
</head>

<body>
  <% if flash.any? %>
  <% flash.each do |type, msg| %>
  <!-- <div data-aos="fade-up" class="alert alert-<%#= type %> alert-dismissible fade show fixed-top mt-3" role="alert"> -->
    <div data-aos="fade-up" class="alert alert-dark alert-dismissible fade show fixed-top mt-3" role="alert">
    <%= msg %>
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
  </div>
  <% end %>
  <% end %>
  <%= render "partials/navbar" %>
  <%= yield %>
</body>

</head>
</html>
